<div class="container body">
 <div class="container">

 	<div class="alert alert-success" role="alert">
    <strong>Uspijeh!</strong>
    Korisnik je pozvan!
 	</div>
<a role="button" href="/" class="btn btn-primary"> << Nazad</a>

 </div>
 </div>