<html>
<head>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/my.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="page-header">
  <h1>Simple VOIP application <small>by hadzi and tarik</small><small class="right"><a href="/signout" class="btn btn-link">Sign out</a></small></h1>
  <div class="clear"></div>
</div>
<div>
<%= yield%>
</div>
</body>

<script src="javascripts/bootstrap.min.js"></script>
</html>
